/*CSS for PauseTab*/

/*larger, overarching elements*/

* /*style for everything*/
{
    font-family: Helvetica;
    color: #eaedef; /*a light gray color*/
}

body
{
    background-color: #1783e8; /*a nice shade of medium blue - not too light or dark*/
}

/*text elements*/

h1
{
    text-align: center;
}

p
{
	font-size: large;  /*you can also specify size like 15px*/
}

/*non-text things in the body*/

/*many thx to https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
.button
{
	background-color: #0fa851; /*a shade of dark green*/
	text-align: center;
	padding: 7px 15px;
	font-size: 16;
	cursor: pointer;
}

.button:hover
{
	background-color: #22d66f; /*darker green on hover*/
}

.center /*this is a new class, center, made to center the logo image in index.html*/
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*this code was taken from <https://www.w3schools.com/howto/howto_css_image_center.asp> */
	/*not sure if I'll really use this part - will comment out or delete if I don't.*/
	text-align: center; /*for text*/
}